[submodule "submodules/ZNbase-bash-common"]
	path = submodules/ZNbase-bash-common
	url = https://github.com/ZNbase/ZNbase-bash-common.git
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/ZNbase/ZNbase-db-thirdparty.git
